@font-face {
  font-family: "RobotoTTF";
  src: url("assets/fonts/Roboto-Regular.ttf");
}
// https://material.io/tools/icons/?style=baselineng s
@import '~material-design-icons/iconfont/material-icons.css';
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  &.button {
    cursor: pointer;
  }
}

html {
  padding: 0;
  margin: 0;
  height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
div {
  box-sizing: border-box;
}
.ofh {
  overflow: hidden;
}
.ofa {
  overflow: auto;
}
.h100 {
  height: 100%;
}
.v-box {
  outline-color: red;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.v-box > .v-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.v-box.v-item.f-w {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}
.v-box > .v-item.f-h {
  height: 100%;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  overflow: hidden;
  margin-bottom: 0;
  outline-color: purple;
}

.h-box {
  outline-color: orange;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.h-box > .h-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.h-box > .h-item.f-w {
  outline-color: dodgerblue;
}
.h-box > .h-item.f-w,
.v-box > .v-item.f-h {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  margin-right: 0px;
  overflow: auto;
}
.dialog-tool-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
}

.dialog-tool-bar > button {
  margin-left: 8px;
}

$shadow: 3px 3px 2px rgba(0, 0, 0, .4);
@mixin drop-shadow-filter() {
  filter: drop-shadow($shadow)
}
@mixin drop-shadow() {
  box-shadow: $shadow
}
.backdrop-buzy { 
  opacity: 0;
}

.modal-buzy {
  background: none;
}
.modal-buzy {
  > .mat-dialog-container {
    box-shadow: none;
    background: none;
    overflow: hidden;
    .spinner svg {
        @include drop-shadow-filter()
    }
    .bar mat-progress-bar{
      @include drop-shadow();
      height: 6px
    }
  }
}
.modal-panel > .mat-dialog-container, .modal-buzy > .mat-dialog-container  {
  padding: 0;
}
