@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-blue-grey);
$app-accent: mat-palette($mat-blue);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
@mixin item-raised($zIndex: 2) {
  &.raised {
    @include mat-elevation-transition;
    @include mat-elevation($zIndex);
  }
}
@mixin content-color($palette) {
  background: mat-color($palette);
  color: mat-color($palette, default-contrast);
}
@mixin item-color-theme($color, $zValue: null) {
  color: mat-color($color);
  &.content {
    @include content-color($color);
    @include item-raised();
  }
  &.border {
    border: 1px solid mat-color($color);
  }

  &.border-2 {
    border: 2px solid mat-color($color);
  }

  &.border-inset {
    outline: 1px solid mat-color($color);
    outline-offset: -1px;
  }

  &.border-inset-2 {
    outline: 2px solid mat-color($color);
    outline-offset: -2px;
  }
}

@mixin color-theme($theme) {
  $config: mat-typography-config();
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $theme-color: mat-color($foreground, text);
  $header-border: 1px solid mat-color($foreground, divider);
  font-family: mat-font-family($config);
  color: $theme-color;
  font-size: mat-font-size($config, body-1);
  .header-border {
    border: $header-border;
  }
  pdf-viewer div.page {
    @include mat-elevation-transition;
    @include mat-elevation(2);
  }
  pdf-viewer div.canvasWrapper {
    border: $header-border;
  }
  
  .content,
  &.content {
    background-color: mat-color($background, card);
    @include item-raised();
  }
  .border,
  &.border {
    border: $header-border;
  }
  .pad-16,
  &.pad-16 {
    padding: 16px;
  }
  .pad-8,
  &.pad-8 {
    padding: 8px;
  }
  .pad-4,
  &.pad-4 {
    padding: 4px;
  }
  .br-2,
  &.br-2 {
    border-radius: 2px;
  }
  .br-4,
  &.br-4 {
    border-radius: 4px;
  }
  .br-half,
  &.br-half {
    border-radius: calc(1em / 2);
  }

  .primary,
  &.primary {
    @include item-color-theme($primary);
  }
  .accent,
  &.accent {
    @include item-color-theme($accent);
  }
  .warn,
  &.warn {
    @include item-color-theme($warn);
  }
  .tool-bar,
  &.tool-bar {
    background: mat-color($background, app-bar);
    &.primary {
      @include content-color($primary);
    }
    &.accent {
      @include content-color($accent);
    }
    &.warn {
      @include content-color($warn);
    }
  }
}
.light {
  @include color-theme($app-theme);
}
