$select-transition-duration: 330ms;
$select-transition-ease: linear;
$button-margin: 8px;
$list-item-border-color: grey;
$list-item-color-selected: dodgerblue;
$list-item-border-radius: 4px;
$list-item-border-width: 1px;
$list-item-margin: 5px;
$list-item-background: white;
$list-item-background-opacity-selected: 0.3;

@mixin symbol-list-item($margin: 0, $padding: 0) {
  cursor: pointer;
  display: inline-block;
  margin: $margin;
  padding: $padding;
  border: $list-item-border-width solid $list-item-border-color;
  border-radius: $list-item-border-radius;
  background-color: $list-item-background;
  @include select-transition($select-transition-duration, $select-transition-ease);
  &.selected {
    border-color: $list-item-color-selected;
    background-color: rgba($color: $list-item-color-selected, $alpha: $list-item-background-opacity-selected);
    @include select-transition($select-transition-duration, $select-transition-ease);
  }
  .svg-box {
    position: relative;
    width: 200px;
    height: 200px;
    svg.symbol-renderer-svg {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }
}
@mixin select-transition($duration, $ease) {
  -webkit-transition: background-color $duration $ease;
  -ms-transition: background-color $duration $ease;
  transition: background-color $duration $ease;
}
@mixin svg-list() {
  .svg-list {
    overflow: auto;
  }
}
@mixin mat-form-field {
  .light {
    .ctrl-box {
      .mat-form-field {
        min-width: auto !important;
        .mat-form-field-infix {
          min-width: 74px !important;
          width: auto !important;
        }
      }
    }
  }
}
@mixin dialog-tool-bar() {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
  > button {
    margin-left: $button-margin;
  }
}

@mixin page-controls() {
  button {
    width: 100%
  }
  > * {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-bottom: $button-margin;
  }
}

.main .controls-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  > * {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-bottom: $button-margin;
  }
  .button-container {
    > button {
      width: 100%;
    }
    > button:first-child {
      margin-bottom: $button-margin;
    }
  }
}
